@import '../../node_modules/normalize.css/normalize.css';

@font-face {
  font-family: 'Climate Crisis';
  src: url(../fonts/Climate_Crisis/ClimateCrisis-Regular-VariableFont_YEAR.ttf) format('opentype');
}

// VARIABLES :
// https://coolors.co/palette/ffbe0b-fb5607-ff006e-8338ec-3a86ff
$bigSize: 4em;
$largeSize: $bigSize / 2;
$primaryColor: #3a86ff;
$secondColor: #fff;
$thirdColor: #FB5607;
$linkPadding: 0.2em;
$borderRadius: 10px;
$borderSize: 3px;
$primaryBorder: $primaryColor $borderSize solid;

// ELEMENTS

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

h1 {
  margin: 0;
  font-size: $bigSize;
  font-family: 'Climate Crisis', sans-serif;
  color: $primaryColor;
}

a {
  text-decoration: none;
  color: $primaryColor;
}

.sub-title {
  font-size: $largeSize;
  font-family: 'Climate Crisis', sans-serif;
  color: $primaryColor;
}

// HEADER

.header {
  background-image: url("../media/adidas-banner01.png");
  border-bottom: $primaryBorder;

  &__wrapper {

  }

  &__title {
    text-align: center;
    padding: 0.5em 0;
  }

  &__nav {
    padding: 0.5em 0 1em;

    &__list {
      display: flex;
      justify-content: space-around;

      &__item {
        &__link {
          font-size: $largeSize;
          font-family: 'Climate Crisis', sans-serif;
          color: $primaryColor;
          border: transparent $borderSize solid;
          border-radius: $borderRadius;
          padding: $linkPadding;

        }

        &__link:hover {
          border-color: $secondColor;
          color: $secondColor;
          background-color: $primaryColor;

        }
      }
    }
  }
}

// MAIN

.main {

  &__wrapper {

  }

  &__container {

    &__text-section {
      padding: $bigSize;

      &__title {
        padding-bottom: 0.5em;
      }

      &__sub-title {
        padding-bottom: 0.5em;
      }
    }

    &__image-section {

      right: 1px;


      img {
        width: 100%
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: $largeSize;
      padding: $bigSize 0;

      &__item {
        text-align: center;


        &__image-section {

          padding: $largeSize 0;

          img {
            height: $largeSize * 20;
            width: auto;
          }
        }

        &__text-section {
          padding: $largeSize * 3;
          display: flex;
          flex-direction: column;

          p {
            
            font-size: $largeSize;
          }


          a {
            padding: $largeSize 0;
            margin: 0 $largeSize * 2;
            font-size: $largeSize;
            border: $primaryBorder;
            font-weight: bold;
            border-radius: $borderRadius;


          }

          a:hover {
            background-color: $thirdColor;
          }
        }

      }
    }
  }

}

// FOOTER

.footer {

  &__wrapper {

  }

  &__nav {
    padding: 0.5em 0 1em;

    &__list {
      display: flex;
      justify-content: space-around;

      &__item {
        &__link {
          font-size: $largeSize / 2;
          font-family: 'Climate Crisis', sans-serif;
          color: $primaryColor;
          border: transparent $borderSize solid;
          border-radius: $borderRadius;
          padding: $linkPadding;

        }

        &__link:hover {
          border-color: $secondColor;
          color: $secondColor;
          background-color: $primaryColor;

        }
      }
    }
  }
}
